<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageNOMnu.master.cs" Inherits="MasterPageNOMnu" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register Src="~/Controles/Cabecera.ascx" TagName="Cabecera" TagPrefix="uc" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>ANSES - Convenios Internacionales</title>
     <script src="../JS/jquery.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery1.4.2.min.js" type="text/javascript"></script>
    <script src="../Scripts/Controles/Controles.js" type="text/javascript"></script>    
    <script src="../Scripts/Funciones.js" type="text/javascript"></script>
    <script src="../Scripts/Validaciones.js" type="text/javascript"></script>
    <script src="../Scripts/jquerycssmenu.js" type="text/javascript"></script>
    <script src="../Scripts/styleswitcher.js" type="text/javascript"></script>
    <script src="../Scripts/tabber.js" type="text/javascript"></script>
    <script type="text/javascript">
        arrowimages.down[1] = "../App_Themes/Imagenes/arrow-down.gif"
        arrowimages.right[1] = "../App_Themes/Imagenes/arrow-right.gif"
    </script>
    <link rel="shortcut icon" href="~/App_Themes/Imagenes/favicon.ico" type="image/x-icon" />
    <link href="../App_Themes/Estilos/Anses.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="../App_Themes/Estilos/AnsesPrint.css" rel="stylesheet" media="print" type="text/css" />
    <%--<link href="../App_Themes/Estilos/" rel="stylesheet" type="text/css" />--%>
    <link href="../App_Themes/Estilos/EstilosPropios.css" rel="stylesheet" type="text/css" />
    <link href="../App_Themes/Estilos/AnsesMarco.css" rel="stylesheet" type="text/css" />

    
    
    <style type="text/css" media="screen">
        .noPrint
        {
            display: block;
        }
        .siPrint
        {
            display: none;
        }
    </style>
    <style type="text/css" media="print">
        .noPrint
        {
            display: none;
        }
        .siPrint
        {
            display: block;
        }
    </style>
</head>
<body>
    <p>
        <br />
    </p>
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="true"  EnableScriptGlobalization="true" EnableScriptLocalization="true"/>
    <div class="page">
        <uc:Cabecera ID="cabecera2" runat="server" />
        <div style="width:100%; clear: both"></div>
        <div align="center" id="contenido">
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                    <asp:ContentPlaceHolder ID="head" runat="server">
                    </asp:ContentPlaceHolder>
                    <asp:ContentPlaceHolder ID="body" runat="server">
                    </asp:ContentPlaceHolder>
                    <asp:ContentPlaceHolder ID="footer" runat="server">
                    </asp:ContentPlaceHolder>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
        <div style="vertical-align: middle; text-align:center; margin: 10px auto 0px auto;" id="ifooter" class="TextoBlanco">
            Términos de uso - Política de privacidad - Política de abuso - ANSES - Administración
            Nacional de la Seguridad Social - 
            <%=DateTime.Now.Year.ToString() %>
            - Todos los Derechos Reservados
        </div>
    </div>
    <asp:UpdateProgress ID="UpdateProg1" DisplayAfter="0" runat="server">
	    <ProgressTemplate>
		    <div style="position:absolute; top: 30%; text-align: center; width:100%" >
			    <img src="../App_Themes/Imagenes/procesando.gif" alt="Procesando..." style="vertical-align: middle"/>
			    <div class="TextoNegroBold">Procesando ...</div>
            </div>  
		    </div>
	    </ProgressTemplate>
    </asp:UpdateProgress>
    <!--Funcion de Javascript para invalidar el F5 -->

    <script type="text/javascript">
        // IF IE:
        if (document.all) {
            document.onkeydown = function () {
                var key_f5 = 116; // 116 = F5		
                if (key_f5 == event.keyCode) {
                    event.keyCode = 0;
                    return false;
                    //alert ("F5 was press!");
                } else {
                    return true;
                }
                //return false;
            }
        }			
    </script>
    </form>
</body>
</html>
<!-- #include file="ajaxhandler_spinner.asp"-->
