<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="VersionSistema" value="1.1" />
    </appSettings>
  <connectionStrings>
        <add name="LogConnectionString" connectionString="database=ConveniosInt_V02;Server=dgiitsisgei10;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ConveniosInt_V02" connectionString="database=ConveniosInt_V02;Server=dgiitsisgei10;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <identity impersonate="false" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
