<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="URLSTS" value="http://labprueba3/gsistemas/aplicacionestest/convenint.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WSGrantForSystemCache.WSGrantForSystemCache" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/GrantForSystemGroup.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--
    <add key="BancoWS.BancoWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/BancoWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PaisWS.PaisWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/PaisWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ActoresWS.ActoresWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/ActoresWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuxiliaresWS.AuxiliaresWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/AuxiliaresWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConsultasWS.ConsultasWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/ConsultasWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MenuWS.MenuWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/Convenios_WS/MenuWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->



    
    <add key="BancoWS.BancoWS" value="http://ansesnegodesapp/x5.Convenios_WS/BancoWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PaisWS.PaisWS" value="http://ansesnegodesapp/x5.Convenios_WS/PaisWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ActoresWS.ActoresWS" value="http://ansesnegodesapp/x5.Convenios_WS/ActoresWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuxiliaresWS.AuxiliaresWS" value="http://ansesnegodesapp/x5.Convenios_WS/AuxiliaresWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConsultasWS.ConsultasWS" value="http://ansesnegodesapp/x5.Convenios_WS/ConsultasWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MenuWS.MenuWS" value="http://ansesnegodesapp/x5.Convenios_WS/MenuWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--<add key="ADPWS.ConsultaXDocWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/datosdepersonaporcuip.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ADPWS.ConsultaXDocWS" value="http://presdesabper/ADPLocalizaciondb2/datosdepersonaporcuip.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="ObtenerRelacionesxCuil" value="http://presdesabper/ADPLocalizaciondb2/wspw04.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="ObtenerRelacionesxCuil" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/wspw04.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    
    <add key="ExpedienteWS.ExpedienteWS" value="http://ansesnegodesapp/ANME/ANMEGestionTramites/ExpedienteWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="ExpedienteWS.ExpedienteWS" value="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/director.svc/soap11/ExpedienteWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    
  </appSettings>
  


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>